# Dependências
node_modules/

# Variáveis de ambiente
.env
env.*.local

# Build
backend/dist/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# IDE
.vscode/
!.vscode/extensions.json

# Prisma
backend/prisma/*.db
backend/prisma/*.db-journal
